.menu{
    background-image: url(img/bgstart.png);
    height: 700px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #faf8ef;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

}
.menu a{
    text-decoration: none;
    font-size: large;
    color: black;
}
.playBtn{
    width: 150px;
    border-radius: 15px;
    border: 4px solid white;
    background: #23b363;
    margin: 5px;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.playBtn:hover{
    transition-duration: 1s;
    width: 200px;
    background-color: #1a7e44;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.playBtn:disabled{
    background-color: gray;
}
.scoreBtn{
    width: 150px;
    border-radius: 15px;
    border: 4px solid white;
    background: #23b363;
    margin: 5px;
    -webkit-transition: all 1s;
    transition: all 1s; 
}
.scoreBtn:hover{
    transition-duration: 1s;
    width: 200px;
    background-color: #1a7e44;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.rulesBtn{
    width: 150px;
    border-radius: 15px;
    border: 4px solid white;
    background: #23b363;
    margin: 5px;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.rulesBtn:hover{
    transition-duration: 1s;
    width: 200px;
    background-color: #1a7e44;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.rules{
    background-image: url(img/bglevels.png);
    height: 700px;
    background-repeat:repeat;
    margin: 0 auto;
    background-size: contain;
    padding: 5px;
    text-align: center;
}
.goBack img{
    width:80px;
}
.goBack img:hover{
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.records{
    background-image: url(img/bglevels.png);
    height: 700px;
    margin: 0 auto;
    background-size: contain;
    padding: 5px;
}
.levels{
    background-image: url(img/bglevels.png);
    height: 700px;
    margin: 0 auto;
    background-color: #faf8ef;
    background-size: contain;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    text-align: center;
}
.level{
    width: 80px;
    height: 80px;
    background-color: lightgray;
    color: white;
    font-size: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}
.level a{
    text-decoration: none;
    color: white;
    padding: 30px;
}
.level:hover{
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.canvas{
    /* width: 700px; */
    height: 500px;
    margin: 0 auto;
}
.infoLevel{
    color: #23b363;
    font-size: 30px;
    font-weight: 600;
    font-family: monospace;
}
.countMoves{
    color: #e94a39;
    font-size: 25px;
    font-weight: 600;
    font-family: monospace;
}
.levelcomplete{
    display: none;
    background: url(img/levelcomplete.png);
    background-repeat: round;
    background-size: contain;
    position: absolute;
    top: 130px;
    left: 40px;
    height: 200px;
    width: 350px;
    text-align: center;
    box-shadow: 0 20px 125px rgb(0 0 0 / 94%);
}
.levelcomplete p{
    padding-top: 50px;
    font-weight: 600;
}
.backToLevels{
    background-color: #23b363;
    border: 2px solid white;
    height: 27px;
    width: 130px;
    border-radius: 15px;
}
.backToLevels:hover{
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.dataReg{
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 15px;
    background: gainsboro;
    position: absolute;
    top: 330px;
    width: 340px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(32 34 33);
}
.dataEnt{
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 15px;
    background: gainsboro;
    position: absolute;
    top: 330px;
    width: 340px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(32 34 33);
}
label{
    font-family: monospace;
    font-size: 18px;
    color: green;
    font-weight: 600;
}
.submit{
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #e74a3994;
    padding: 5px;
    width: 100px;
}
.submit:hover{
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
input{
    width: 150px;
    margin: 3px;
}
.enter{
    width: 150px;
    border-radius: 15px;
    border: 4px solid white;
    background: #d1c136;
    margin: 5px;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.enter:hover{
    transition-duration: 1s;
    width: 200px;
    background-color: #d1c136;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.register{
    width: 150px;
    border-radius: 15px;
    border: 4px solid white;
    background: #d1c136;
    margin: 5px;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.register:hover{
    transition-duration: 1s;
    width: 200px;
    background-color: #d1c136;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
#music{
    background-image: url(img/musicOn.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    border: none;
}
#music:disabled{
    background-image: url(img/musifOff.png);
    background-size: contain;
}