@import "stylediv.css";
@media all and (max-width:600px){
.left{
    float: none;
    width: 400px;
    margin-left: 30%;
}
.bg{
    background-image: none;
    background-color: azure;
}
.content{
    margin-left: 0px;
}
}
@media all and (max-width:400px){
 .content img{
     float: none;
     width: 80%;
    }   
  .left{
    margin-left: 0px;
  }
  .bg{
      background-color: rgb(221, 158, 158);
  }
}